
<html>
<head>
	<title>Weather</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="../../public/css/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<script defer type="text/javascript" src="/JS/app.js" ></script>
	
</head>
<body>
	
	{{!-- <img src="/img/weather.png"> --}}
<div class="mainContent">	
{{>header }}
<!-- <h1 style="text-align: center;">{{ title }}</h1> -->
<div>
	<form action="">
	<input type="text" name="search" id="searchLocation" placeholder="Search a location"> 
	<button>Search</button>
	</form>
	<p id="region_data"></p>
	<p id="weather_data"></p>
</div>
<p>Created by : {{ name }}</p>
</div>
{{>footer}}
<script>
{{!-- fetch('http://puzzle.mead.io/puzzle').then((response)=>{
		response.json().then((data)=>{
			console.log(data)
		})
	}) --}}

</script>
</body>
</html>